.importText {
  display: block;
  min-width: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.importText > * {
  padding-inline-end: 40px;
}

.importText::-webkit-scrollbar {
  display: none;
}
